/* styles.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  color: #96d3ff;
  margin: 0;
}

h1, h2, h3 {
  color: #00d8ff;
  text-align: center;
}

a {
  color: #00d8ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.center-text {
  text-align: center;
  font-weight: bold;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000;
  }
  50% {
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
  }
  100% {
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000;
  }
}

.glowing-text {
  color: #ffffff; /* Base text color */
  animation: glow 2s infinite;
}
