/* src/components/Header.css */
.header-container {
  width: 100%;
  background-color: #000; /* Dark background for contrast */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px; /* Increased padding for a larger header */
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-logo {
  color: #00ffcc; /* PulseChain color */
  font-family: 'Arial Black', sans-serif;
  font-size: 5rem; /* Increased font size */
  text-transform: uppercase;
  animation: pulse 2s infinite;
}


.nav-menu {
  display: flex;
  gap: 25px; /* Increased gap for spacing */
}

.nav-menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.25rem; /* Larger font size for menu links */
  font-weight: bold;
}

.nav-menu a:hover {
  color: #00ffcc;
}
